<ion-view view-title="About">
  <ion-content>
    <div class="padding">
      <div>Meditations as taught in the <a href="#" onclick="cordova.InAppBrowser.open('https://thebuddhistcentre.com/text/what-triratna-buddhist-community', '_blank', 'location=yes'); return false;">Triratna Buddhist Community</a></div>
      
      <div>Audio courtesy of <a href="#" onclick="cordova.InAppBrowser.open('http://www.freebuddhistaudio.com', '_blank', 'location=yes'); return false;">Free Buddhist Audio</a></div>
      
      <div>Originally developed at <a href="#" onclick="cordova.InAppBrowser.open('http://padmaloka.org.uk', '_blank', 'location=yes'); return false;">Padmaloka</a> and <a href="#" onclick="cordova.InAppBrowser.open('http://adhisthana.org', '_blank', 'location=yes'); return false;">Adhisthana</a></div>
      
      <div>Source code available on <a href="#" onclick="cordova.InAppBrowser.open('https://github.com/paolomaffei/triratna-meditation', '_blank', 'location=yes'); return false;">Github</a></div>
    </div>
  </ion-content>
</ion-view>