<ion-view view-title="{{pageTitle}}">
  <ion-content>
    <div class="card padding text-center animated bounceIn">
      <h2>{{pageTitle}}</h2>
      <button class="button button-positive button-large button-block icon ion-play" ng-click="play()" ng-if="!isPlaying"></button>
      <button class="button button-positive button-large button-block icon ion-pause" ng-click="pause()" ng-if="isPlaying"></button>
      
      <a>{{position | formatTime:"hh:mm:ss":false}} / {{duration}}</a>
    </div>
  </ion-content>
</ion-view>